{% extends "base.html.twig" %}
{% block title 'Hello City !' %}

{% block body %}
{% set heretime = date('h') %}
<img src="/img/laca.png" alt="Lacanau_flag" class="mt-12 rounded">
<h1 class="mt-5 text-3xl sm:text-5xl font-semibold text-indigo-600">Hello From Lacanau</h1>
<p class="text-lg text-gray-800">It's currently
    {{'now'|date('H:i A')}}</p>

{% endblock %}